body{
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans;
	margin: 0px;
	padding: 0px;
}

p, li {
	font-size: 0.9em;
}

a:link, a:visited{
	color: #FF6A14;
	text-decoration: none;
}
a:active, a:hover {
	color: white;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #FF6A14;
}

h2 {
	font-size: 24px;
	/*color: #421A09;*/
	color: #FF6A14;
	/*background: url('/images/bannergreen.png');*/
	/*background-color: #52A3B5;*/
	border-bottom: solid #52A3B5 3px;
	font-weight: normal;
	text-transform: uppercase;
}

h3 a:link, h3 a:visited {
	color: white;
}

h1#title{
	display: none;
}

h3 span.projecturl a, 
h2 span.projecturl a, 
h2 span.archivelink a,
span.tags {
	font-size: 0.5em;
	color: #FF6A14;
}

#fn1, #fn2, #fn3, #fn4, #fn5, #fn6, #fn7 {
	font-size: 80%;
}

div.project h3, div.post h3 {
	font-size: 1.5em;
	margin-bottom: 18px;
}

div#wrapper {
	position: relative;
	width: 100%;
	background: url('/images/bodybrown.png');
	background-color: #421A09;
	min-height: 100%;
}
div.contentwrapper{
	width: 750px;
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
div#nav table{
	font-size: 25px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
div#nav {
	position: relative;
	width: 480px;
	margin-left: 285px;
	top: 215px;
}
div#nav a:link, div#nav a:visited{
	color: #421A09;
}
div#nav a:active, div#nav a:hover {
	color: white;
}
div#banner {
	background: url('/images/headerlogo.png') no-repeat 50% 100%;
	height: 242px;
	width: 930px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
div#header {
	background: url('/images/bannergreen.png');
	background-color: #52A3B5;
}
div#footer {
	height: 100px;
	padding-bottom: 4em;
	line-height: 1.4em;
	clear: both;
	background: url('/images/bannergreen.png');
	background-color: #52A3B5;
	margin-top: 300px;
}
div.imgholder{
	float: left;
	height: 74px;
	width: 74px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
	margin-right: 5px;
	padding: 5px;
}
div.imgholder img {
	width: 74px;
	height: 74px;
}
div.post {
	/*border: solid #52A3B5 3px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*overflow: hidden;*/
}
div.clear {
	clear: both;
}
div.post h4 {
	margin-top: 0px;
	padding-top: 0px;
	display: inline;
}
div.project h3. div.post h3 {
	color: white;
}
div.portrait {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}