<ul class="post-list">
	{% if page.selectedcategory %}
		{% assign postcollection = site.categories[page.selectedcategory] %}
	{% elsif page.selectedtag %}
		{% assign postcollection = site.tags[page.selectedtag] %}
	{% else %}
		{% assign postcollection = site.posts %}
	{% endif %}

	{% for post in postcollection %}
	<li class="post-summary lined-block row">
		<h3 class="col span_4"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<time class="col span_2" datetime="{{ post.date }}">{{ post.date | date: '%Y-%m-%d' }}</time>

		<div class="row">
			<div class="post-tags col span_4">{% include inline-tags.html %}</div>
			<div class="post-category col span_2">
				{% for category in post.categories %}
				<a href="/category/{{ category | downcase | replace:' ','-' }}.html">{{ category | upcase }}</a>{% if forloop.last %} {% else %}, {% endif %}
				{% endfor %}
			</div>
		</div>

	</li>
	{% endfor %}
</ul>