<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The collected works of Andrew Petersen" name="description" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <title>Andrew Petersen &mdash; {{ page.title }}</title>
  </head>
  <body>
    <h1 id="title">
      
    </h1>

	{% if page.image %}
		<p>Images are here</p>
	{% endif %}

	<div id="thumbbar">
		{% for image in page.image %}
			<p>{{ image }}</p>
		{% endfor %}
	</div>

    <div id="wrapper">
      {{ content }}
      <div id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
        <a href="/books_talks.html" title="Books and talks">Books & Talks</a>
        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="000652178004161548235:gnplrkdmhbu" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="40" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
    
    </script>
  </body>
</html>