---
layout: default
classname: page-post
---

{% comment %} make post variable available for includes {% endcomment %}
{% assign post = page %}

{% if page.image[0].src != null %}
	{% assign has_icon = true %}
{% endif %}

<article class="post">

	<header class="row">

		<div class="title-wrap lined-block col {% if has_icon %}span_5{% endif %}">
			<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

			<div class="post-meta">
				{{ post.date | date: '%Y-%m-%d' }}

				{% if post.category %}
					in <a href="">{{ post.category }}</a>
				{% endif %}

				{% include inline-tags.html %}
			</div>
		</div>

		{% if has_icon %}
		<div class="post-icon col span_1">
			<a href="{{ page.url }}"><img src="{{ page.image[0].src }}" alt="{{ page.image[0].alt }}"/></a>
		</div>
		{% endif %}

	</header>

	<div class="post-content row">

		<div class="lined-block col">

			{% if post.oneliner %}
			<aside class="col span_3">
				{{ post.oneliner }}

				{% if post.projecturl %}<br />
				<a class="project-url" href="{{ post.projecturl }}">{{ post.projecturl }}</a>
				{% endif %}
			</aside>
			{% endif %}

			{{ content }}

		</div>
	</div>
	
	{% if(page.type != 'project') %}
	<div class="row">
		<p class="signoff lined-block col">
			&mdash; <a href="http://twitter.com/kirbysayshi">@KirbySaysHi</a> {{ page.date | date: "%b %d, %Y" }}
		</p>
	</div>
	{% endif %}

	<div class="row hn-link"></div>

	<!-- begin DISQUS -->
	<div id="disqus_thread" class="lined-block"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var  disqus_shortname = 'kirbysayshi' // required: replace example with your forum shortname
			,disqus_identifier = '{{ page.url }}'
			,disqus_developer = window.location.href.indexOf('localhost') > -1 ? 1 : 0;

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	<!-- end DISQUS -->

</article>
